.about {
	font-family: var(--font-accent);
	background-color: var(--page-bg);
	position: relative;
	padding-top: 100px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	margin-top: -250px;
}

.title__wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.title {
	grid-column: 2 / -1;
	position: relative;
	font-weight: 500;
	font-size: 55px;
	line-height: 105%;
	text-transform: uppercase;
	color: #121212;
	color: var(--text-color-dark);
	width: fit-content;
	// white-space: nowrap;
	margin-bottom: 40px;

	@include mobile {
		font-size: 30px;
		margin-bottom: 20px;
		padding: 10px 10px;
	}
}

.subtitle {
	grid-column: 1 / 2;

	& span {
		display: inline-block;
		border-radius: 100px;
		border: 1px solid var(--text-color-dark);
		color: var(--text-color-dark);
		padding: 10px 20px;
		font-weight: 500;
		font-size: 20px;
		line-height: 100%;
		text-transform: uppercase;
	}
}