.hero {
	font-family: var(--font-accent);
	position: relative;
	width: 100vw;
	max-width: 1600px;
	margin: 0 auto;
	margin-top: -80px;
	overflow: hidden;

	.container {
		padding: 150px 100px 200px 100px;
		background-color: var(--accent);
		background-color: #999;
		background-image: url('../../img/hero/hero.jpg');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

		@include mobile {
			padding: 100px 10px;
			padding-bottom: 0px;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 120px;
		line-height: 105%;
		text-transform: uppercase;
		text-align: center;
		color: var(--text-color);
		margin-bottom: 60px;
	}

	.main__button {
		margin-bottom: 300px;
	}
}